<section class="main-wallet-section">
    <h1 class="wallet-header-text">
        Wallet
    </h1>
    <div class="main-container">
        <div class="wallet-content">
            <div class="wallet-conten-right">
                <i class="fal fa-list wallet-icon"></i>
                <h1 class="main-text">
                    Expired
                </h1>
            </div>
            <div class="wallet-conten-left">
                <h1 class="main-text">
                    10.00
                </h1>
            </div>

        </div>
        <div class="wallet-content">
            <div class="wallet-conten-right">
                <i class="fal fa-shield wallet-icon"></i>
                <h1 class="main-text">
                    Reserved
                </h1>
            </div>
            <div class="wallet-conten-left">
                <h1 class="main-text">
                    100.00
                </h1>
            </div>

        </div>
        <div class="wallet-content">
            <div class="wallet-conten-right">
                <i class="fal fa-gem wallet-icon"></i>
                <h1 class="main-text">
                    Unused
                </h1>
            </div>
            <div class="wallet-conten-left">
                <h1 class="main-text">
                    6882.00
                </h1>
            </div>

        </div>
        <div class="wallet-content">
            <div class="wallet-conten-right">
                <i class="fal fa-utensils wallet-icon"></i>
                <h1 class="main-text">
                    Consumed
                </h1>
            </div>
            <div class="wallet-conten-left">
                <h1 class="main-text">
                    618.00
                </h1>
            </div>

        </div>
        <div class="wallet-content">
            <div class="wallet-conten-right">
                <i class="fal fa-money-bill wallet-icon"></i>
                <h1 class="main-text">
                    Total
                </h1>
            </div>
            <div class="wallet-conten-left">
                <h1 class="total-container">
                    10.00
                </h1>
            </div>

        </div>
    </div>

</section>