<nav class="nav-container">
    <div class="nav-barRightContainer" >
        <div class="notification">
           <img
           src="/assets/bell-solid.svg"
              alt="notification"
              height="20px"
                width="20px"
              >
        </div>
        <div class="profile-container"> 

            <img 
                class="profile-image" 
                src="https://www.w3schools.com/howto/img_avatar.png" 
                alt="profile image"
            >
            <p class="profile-name">Jhon Doe</p>
        </div>
    </div>
</nav>