.nav-container{
    width: calc(100% - 5rem);
    height: 5vh;
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #EEF2F2;
    padding: 2rem;
    box-shadow: 0.063rem 0 0 1.25rem #8690a3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-self: flex-end;


    .nav-barRightContainer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        justify-self: flex-end;
        margin-right: 2rem;
        width: 100%;
        height: 100%;
.notification{
    margin-left: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    border: 0.5px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    cursor: pointer;
    
}
.profile-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-self: flex-end;
    margin-left: 2rem;

    .profile-image{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: transparent;
        border: 0.5px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: flex-end;
        cursor: pointer;
    }
    .profile-name{
        margin-left: 1rem;
        font-size: 16px;
        font-weight: 700;
        color: #000;
    }
}
    

    }

}