<section class="main-section-home">

    <div class="middleContainer">
        <div class="middleContainer-upper">
            <h1>Add Tokens</h1>
            <div class="input-container">
                <input type="text" class="middleContainer-upper-input" placeholder="Enter Token Here..." />
                <button class="btn-container">
                    Submit
                </button>
            </div>
        </div>
        <h2 class="header">Current using Token</h2>
    </div>


    <table mat-table [dataSource]="dataSource" >

        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef> ID. </th>
            <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Token">
            <th mat-header-cell *matHeaderCellDef> Token </th>
            <td mat-cell *matCellDef="let element"> {{element.Token}} </td>
        </ng-container>
        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
        </ng-container>





        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</section>